<!--
 * Title: about.component.html
 * Author: Alex Haefner
 * Date: 15 August 2021
 * Description: The about component file for composer app
-->

<div class="container">
  <br/>

  <h3>About</h3>
  <br/>

  <div class="row justify-content-start alert alert-secondary">
    <h3>Beethoven</h3>
    <br/>

    <div class="col-xl-6">
    <br/>
      <img src="/assets/beet.png" width="15%" alt=" Old Beethoven">
      <figcaption>&copy; composers.com</figcaption>
    </div>


    <div class="col-xl-6">
    <br/>
<p>Ludwig van Beethoven was a very famous German composer and pianist.
   Beethoven remains one of the most admired composers in the history of
    western music and in the world; his works rank amongst the most
     performed of the classical music repertoire, and span the transition
      from the classical period all the way to the romantic era in classical
       music. His work is greatly admired by many people spanning across
        the entire world of all ages.</p>
		</div>

  </div>
</div>
