/*
 * Title: app.component.css
 * Author: Alex Haefner
 * Date: 4 Sep 2021
 * Description: The css file for app.component
*/

.logo {

margin-top: 5px;

}

.main-container {

  padding-top: 25px;
  width: 80%;
  margin: 0 auto;

}
