<!--
 * Title: about.component.html
 * Author: Alex Haefner
 * Date: 5 Sept 2021
 * Description: The about component file for book app
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/cp.jpg" />
      </div>
      <div>
        <em>
          Photo by DailyCoffee756 on <a class="attribution-link" href="https://en.wikipedia.org/wiki/Christopher_Paolini#/media/File:Christopher_Paolini_2019.jpg" target="_blank">Wiki</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <!-- Title & bio -->
    <h1 class="blue">Who is Christopher Paolini?</h1>
    <p>
      Christopher James Paolini (born November 17, 1983) is an American author.
      He is best known for The Inheritance Cycle, which consists of the books Eragon,
      Eldest, Brisingr, Inheritance, and the follow up short story collection The Fork,
      the Witch and the Worm. His first science fiction novel, To Sleep in a Sea of Stars,
      was published on September 15, 2020. He lives in Paradise Valley, Montana, where he
      wrote his first book.
    </p>
    <em>Biography by: <a href="https://en.wikipedia.org/wiki/Christopher_Paolini" target="_blank" class="attribution-link">Wikipedia</a></em>
  </div>
</div>
